Border.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation='Button.xsd'/>
  <xs:element name="Border">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TextBlock" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
        <xs:element ref="Button" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="Span" type="xs:unsignedByte" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>
