Button.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation='Data.xsd'/>
  <xs:include schemaLocation='If.xsd'/>
  <xs:include schemaLocation='HPIElement.xsd'/>
  <xs:include schemaLocation='Header.xsd'/>
  <xs:include schemaLocation='EM2023.xsd'/>
  <xs:include schemaLocation='Park.xsd'/>
  <xs:include schemaLocation='Phrase.xsd'/>
  <xs:include schemaLocation='ScenarioImport.xsd'/>
  <xs:include schemaLocation='Score.xsd'/>
  <xs:include schemaLocation='Task.xsd'/>
  <xs:include schemaLocation='Text.xsd'/>
  <xs:include schemaLocation='Timestamp.xsd'/>
  <xs:include schemaLocation='TopicImport.xsd'/>
  <xs:element name="Button">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Header" minOccurs="1" maxOccurs="1"/>
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Data" maxOccurs="unbounded"/>
            <xs:element ref="If" maxOccurs="unbounded"/>
            <xs:element ref="HPIElement" maxOccurs="unbounded"/>
            <xs:element ref="EM2023" maxOccurs="unbounded"/>
            <xs:element ref="Park" maxOccurs="1"/>
            <xs:element ref="Phrase" maxOccurs="unbounded"/>
            <xs:element ref="ScenarioImport" maxOccurs="unbounded"/>
            <xs:element ref="Score" maxOccurs="unbounded"/>
            <xs:element ref="Task" maxOccurs="unbounded"/>
            <xs:element ref="Text" maxOccurs="unbounded"/>
            <xs:element ref="Timestamp" maxOccurs="1"/>
            <xs:element ref="TopicImport" maxOccurs="unbounded"/>
          </xs:choice>
        </xs:sequence>
      </xs:sequence>
      <xs:attribute name="GroupName" type="xs:string" use="optional" />
      <xs:attribute name="IsChecked" type="xs:string" use="optional" />
      <xs:attribute name="IsEnabled" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>
