Grid.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation='Header.xsd'/>
  <xs:include schemaLocation='If.xsd'/>
  <xs:include schemaLocation='LocalImport.xsd'/>
  <xs:include schemaLocation='Replace.xsd'/>
  <xs:include schemaLocation='Row.xsd'/>
  <xs:element name="Grid">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Header" minOccurs="0" maxOccurs="1" />
        <xs:sequence>
          <xs:choice maxOccurs="unbounded">
            <xs:element ref="If" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="LocalImport" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="Row" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="Replace" maxOccurs="unbounded"/>
          </xs:choice>
        </xs:sequence>
      </xs:sequence>
      <xs:attribute name="ControlType" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="RadioButton"/>
            <xs:enumeration value="CheckBox"/>
		        <xs:enumeration value="Header"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Key" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
