Replace.xsd

<xs:schema attributeFormDefault='unqualified' elementFormDefault='qualified' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
  <xs:element name='Replace'>
    <xs:complexType>
      <xs:attribute name='Key' type='xs:string' use='required' />
      <xs:attribute name='Value' type='xs:string' use='required' />
    </xs:complexType>
  </xs:element>
</xs:schema>
