ScenarioImport.xsd

<xs:schema attributeFormDefault='unqualified' elementFormDefault='qualified' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
  <xs:include schemaLocation='Side.xsd'/>
  <xs:include schemaLocation='Replace.xsd'/>
  <xs:element name="ScenarioImport">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Replace" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="Key" type="xs:string" use="required" />
      <xs:attribute name="ComplaintLevel" type="xs:string" use="required" />
      <xs:attribute ref="Side" use="optional" />
      <xs:attribute name="ItemKey" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>
