Text.xsd

<xs:schema attributeFormDefault='unqualified' elementFormDefault='qualified' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
  <xs:include schemaLocation='Conjunction.xsd'/>
  <xs:include schemaLocation='TextOption.xsd'/>
  <xs:element name="Text">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="Conjunction" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="TextOption"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="Key" type="xs:string" use="required" />
      <xs:attribute name="Value" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>
