TextOption.xsd

<xs:schema attributeFormDefault='unqualified' elementFormDefault='qualified' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
  <xs:element name="TextOption">
    
    <xs:complexType>
      
      <xs:sequence>
        <xs:element name="TextOption" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="TextOption"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>        
      </xs:sequence>
      
      <xs:attribute name="Key" type="xs:string" use="required" />
      <xs:attribute name="Value" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>
