Variable.xsd

<xs:schema attributeFormDefault='unqualified' elementFormDefault='qualified' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
  <xs:element name='Variable'>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs='0' maxOccurs="unbounded" name="VariableOption">
          <xs:complexType>
            <xs:attribute name="Weight" type="xs:decimal" use="required" />
            <xs:attribute name="Value" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Key" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>
