WebQuery.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="WebQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header" minOccurs="1" maxOccurs="1" type="xs:string"/>
        <xs:element name="Term" minOccurs="1" maxOccurs="unbounded"  type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
